@font-face {
    font-family: 'DIN 1451 Mittelschrift';
    src: url('../fonts/DIN1451.ttf');
}


body *{
    font-family: 'DIN 1451 Mittelschrift';
}

h1 {
    font-weight: 900;
    text-align: center;
    font-size: 33pt;
}

h2 {
    font-size: 23pt;
    text-align: center;
}

body {
    background-color: #1c2748;
}

.page {
    width: 1200px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}

p {
    text-align: center;
    font-size: 16pt;
}